@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Developer!</h1>

<p>
    <b>Objective:</b>
    <p>This project, built on the default Blazor template, serves as a foundational exercise to assess and enhance your skills in developing web applications using Blazor
        and .NET 7+. The application showcases a simple yet practical implementation of displaying weather information.</p>
</p>

<p>
    <b>Assessment Focus:</b>
    
    <ul>
        <li>Proficiency in handling full-stack development tasks, including both front-end (Blazor) and back-end (.NET 7+) technologies</li>
        <li>Ability to create a cohesive and functional application that reflects good software design principles</li>
        <li>Implementation of efficient and scalable solutions in both front-end and back-end components</li>
    </ul>
</p>

<p>
    <b>For the Live Coding Interview:</b>
    <ul>
        <li>Be prepared to engage in tasks that require you to work across the full stack. This may include modifying the API, 
            implementing new features in the Blazor app, and ensuring that these components work together seamlessly</li>
        <li>We will also evaluate how you approach problem-solving and debugging within a full-stack context</li>
    </ul>

</p>

<p>
    <b>Please take note of the following:</b>
    <ul>
        <li>This showcase project is using the latest .NET 8 framework</li>
        <li>Take note of the new Render Modes introduced into .NET 8 Blazor</li>
        <li>The weather repository has already been defined and uses a JSON file to store the data</li>
        <li>This project consists of an API, Client Library and Blazor Web App (Server) component</li>
        <li>I will be asking you to write code live in the interview based on these projects</li>
    </ul>
</p>

<p>This is your c#, Blazor and Web API Showcase. Go ahead and explore the different pages and components.</p>
<p>Good luck and have fun!</p>

